*.iml
*.so
*.pyd
*.pdb
*.ipynb
.ENV
.env
.ipynb_checkpoints/
.python-version
.yarn/
coverage.lcov
coverage.xml
profile.json
polars/vendor

# OS
.DS_Store

# IDE
.idea/
.vscode/
.vim

# Python
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv*/
__pycache__/
.coverage
*.egg-info

# Rust
target/

# JavaScript
node_modules/
*.node
*.wasm
/js-lunamodel/node_modules/
/js-lunamodel/*.node
/js-lunamodel/*.wasm
/js-lunamodel/browser.js
/js-lunamodel/js_lunamodel.wasi-browser.js
/js-lunamodel/js_lunamodel.wasi.cjs
/js-lunamodel/wasi-worker-browser.mjs
/js-lunamodel/wasi-worker.mjs
/js-lunamodel/package-lock.json

# Data
*.csv
*.parquet
*.feather
*.tbl

# Project
/py-lunamodel/docs/assets/data/
/py-lunamodel/docs/assets/people.md
/py-lunamodel/site/
/site/

# User specific source setups
# You can put anything here that needs to be done to prepare your env.
.user_env.*
# pixi environments
.pixi/*
!.pixi/config.toml

NOTES.md
# iykyk
:w
*dbg*
*.txt
build/
py-lunamodel/.intentionally-empty-file.o

!THIRD_PARTY_LICENSES.txt
py-lunamodel/output.lp
py-lunamodel/problem.lp

py-lunamodel/tests/test_core/test_solution/test_translator/model.lp
py-lunamodel/tests/test_core/test_translator/mps_models/*.mps
py-lunamodel/tmp.py

py-lunamodel/ignore.py
